<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выпускная квалификационная работа</title>
    <link rel="stylesheet" href="static/css/style.css">
<style>
    h1 {margin-top: 100px;
    }
    h3 {margin-top: 50px;
    }
</style>
</head>

<body align="center" >
    <h1>Выпускная квалификационная работа по курсу "DataScience Pro"</h1>
    <h2>Тема: Прогнозирование соотношения матрица-наполнитель</h2>
    <h3>Выберите количество признаков для прогноза</h3>

    <div class=blocks ><p><a href="/key_features/">Основные 5 признаков</a></p></div>
    <div class=blocks><p><a href="/all_features/">Все признаки</a></p></div>



</body>
</html>